<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings file="secrets.config">
		<add key="Email.Servidor" value="smtp.gmail.com" />
		<add key="Email.Puerto" value="587" />
		<add key="Email.Usuario" value="medistack2026@gmail.com" />
		<add key="Email.NombreRemitente" value="Medistack" />
	</appSettings>
  <connectionStrings>
    <add name="MediStackDB"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MediStackDB;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-AR" uiCulture="es-AR" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="30" slidingExpiration="true" protection="All" />
    </authentication>
    <sessionState mode="InProc" cookieless="UseCookies" timeout="20" />
    <httpCookies httpOnlyCookies="true" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="Predictable" />
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
